
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner">
    <div class="images images-block">
        <div class="images images-block d-none d-md-block">
            <img width="2560" height="1292" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2019/04/Perspective-Day-scaled.jpg" class="img-full-width" alt="" loading="lazy" />
        </div>
        <div class="images images-block d-md-none">
            <img width="2560" height="1292" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2019/04/Perspective-Day-scaled.jpg" class="img-full-width" alt="" loading="lazy" />
        </div>
        <div class="images-overlay"></div>
        <div class="images-content images-content-middle text-center">
            <div class="container">
                <h1 class="text-uppercase page-title">THÔNG TIN TỔNG QUAN AEON MALL TÂN PHÚ CELADON</h1>
            </div>
        </div>

    </div>
</div>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="text-heading">
                    <h2 style="text-align: center;">“AEON MALL Tân Phú Celadon” là loại hình siêu thị trọn gói One-Stop Shopping đầu tiên tại Việt Nam được khai trương vào ngày 11 tháng 01 năm 2014, đáp ứng đầy đủ mọi nhu cầu mua sắm. Từ các mặt hàng thực phẩm, tiêu dùng hằng ngày trong khu vực siêu thị, đến các quầy hàng thời trang cho cả người lớn và trẻ em, cũng như các vật dụng gia đình đáp ứng được sự thay đổi trong phong cách sống của khách hàng.</h2>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-sm-3 order-2 order-sm-1">
                    <div class="images-introdcution">
                        <div class="cs-carousel" data-slick="{&quot;slidesToShow&quot;:1,&quot;adaptiveHeight&quot;:true,&quot;slidesToScroll&quot;:1,&quot;arrows&quot;:false,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;rows&quot;:3,&quot;responsive&quot;:[{&quot;breakpoint&quot;:576,&quot;settings&quot;:{&quot;slidesToShow&quot;:1.2,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:true,&quot;rows&quot;:1}}]}">
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Void-2-1st-Floor-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Corridor-Guest-1-Ground-Floor-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Void-4-Ground-Floor-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Aeon-1st-Floor-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Aeon-2nd-Floor-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Aeon-Mall_Tan-Phu_thang-10_hinh-37-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Bike-Parking-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Center-Court-Ground-Floor-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/IN-No.9-Int-No.9-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/North-East-Elevation-At-Night-e1545366805435-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Void-2-1st-Floor-1-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>
                            <div class="cs-carousel-slide">
                                <div class="ad-images-introdcution">
                                    <img width="300" height="188" src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/12/Void-4-2nd-Floor-360x225.jpg" class="img-full-width height-image" alt="" loading="lazy" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-9 order-1 order-sm-2">
                    <div class="info-company">
                        <div class="table-responsive">
                            <table class="table break-cols no-brt">
                                <tbody>
                                    <tr>
                                        <th scope="row">Tên đầy đủ</th>
                                        <td>AEON MALL Tân Phú Celadon</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Địa chỉ</th>
                                        <td>Số 30 Tân Thắng, phường Sơn Kỳ, quận Tân Phú, Tp. Hồ Chí Minh, Việt Nam</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Số lượng cửa hàng</th>
                                        <td>khoảng 200 cửa hàng</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Diện tích mặt bằng</th>
                                        <td>
                                            Tổng diện tích 70,000 m2<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tổng diện tích cho thuê</th>
                                        <td>khoảng 84,000 m2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sức chứa bãi đỗ xe ô tô</th>
                                        <td>Khoảng 2,000 xe </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sức chứa bãi đỗ xe máy, xe đạp</th>
                                        <td>Khoảng 10,000 xe</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ngày nghỉ</th>
                                        <td>Mở cửa tất cả các ngày trong năm kể cả ngày nghỉ và lễ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<footer class="footer">
    <div class="section-address">
        <!-- <div class="map" id="map" data-map='{"latitude":,"longitude":}'data-icon='{"url":"/assets/img/aeon-marker.svg"}'></div> -->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.123004011901!2d106.61583991451994!3d10.80189009230427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bfa5e75b8f7%3A0x8d1076f7a39cba5e!2sAEON+MALL+Tan+Phu+Celadon!5e0!3m2!1sen!2s!4v1550570146320" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contact">
            <div class="text-uppercase h1">Liên hệ</div>
            <ul class="contact-info list-unstyled mb-md-0">
                <li><i class="zmdi zmdi-pin"></i>Địa chỉ: Số 30 Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú, Tp. Hồ Chí Minh</li>
                <li><i class="zmdi zmdi-phone"></i>Hotline: 028.62887733 - ext: 129</li>
                <li><i class="zmdi zmdi-email-open"></i><a href="mailto:celadon.cs@aeonmall-vn.com">Email: celadon.cs@aeonmall-vn.com</a></li>
            </ul>
            <hr class="ml-0 d-none d-md-block">
            <div class="share-with">
                <h3 class="font-weight-semibold">Liên kết</h3>
                <div class="socials socials-square">
                    <a class="social" target="_blank" href="https://www.facebook.com/aeonmalltanphuceladon/" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                </div>
            </div>
            <div class="mb-1">Company code:  Số 0311241512 cấp bởi Uỷ ban nhân dân Thành phố Hồ Chí Minh ngày 07 tháng 10 năm 2011.</div>

            <div class="copyright font-weight-semibold"> Copyright ©AEONMALL Tân Phú Celadon</div>
        </div>
        <div class="button-scroll-message"><a class="scroll-top" href="#header" title="scroll to top" data-action="scroll"><i class="zmdi zmdi-chevron-up"></i></a></div>
        <div style="position:fixed; z-index:9999999;" class="fb-page fb-page-style" data-tabs="messages" data-href="https://www.facebook.com/aeonmalltanphuceladon/" data-width="260" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
    </div>
    <div class="footer-logo">
        <div class="row">
            <div class="col-md-7 d-md-flex">
                <a class="footer-brand d-none" href="https://aeonmall-tanphuceladon.com.vn/">
                    <img src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2019/11/logo-aeonmall-tanphu.png" alt="">
                </a>
                <h1 class="footer-slogan">AEON MALL Tân Phú Celadon - Địa điểm vui chơi và mua sắm lí tưởng cho cả gia đình!</h1>
            </div>
            <div class="col-md-5 d-flex flex-wrap justify-content-md-end">
                <a class="footer-brand" target="_blank" href="https://aeonmall-long-bien.com.vn/">
                    <img src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2019/11/logo-aeonmall-longbien.png" alt="AEON MALL Long Biên">
                </a>
                <a class="footer-brand" target="_blank" href="https://aeonmall-hadong.com.vn/">
                    <img src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2019/11/logo-aeonmall-hadong.png" alt="AEON MALL Hà Đông">
                </a>
                <a class="footer-brand" target="_blank" href="https://aeonmall-haiphong-lechan.com.vn/">
                    <img src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2020/06/aeon-mall-hai-phong-logo.png" alt="AEON MALL Hải Phòng Lê Chân">
                </a>
                <a class="footer-brand" target="_blank" href="https://aeonmall-binhduongcanary.com.vn/">
                    <img src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2019/11/logo-aeonmall-binhduong.png" alt="AEON MALL Bình Dương">
                </a>
                <a class="footer-brand" target="_blank" href="https://aeonmall-binhtan.com.vn/">
                    <img src="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2019/11/logo-aeonmall-binhtan.png" alt="AEON MALL Bình Tân">
                </a>
            </div>
        </div>
    </div>
</footer>

<div id='fb-root'></div>
<h2>About</h2>

