@model CNPMLyThuyet.Model.PhongBan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_NhanSu.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa không?</h3>
<div>
    <h4>PhongBan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPB)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Xóa" class="btn btn-danger" /> |
    <a href="/NhanSuPB/Index" class="btn btn-success">Trở lại</a>
</div>
    }
</div>
